.card {
  border: 1px solid red;
  width: 250px;
  height: 300px;
}

.container {
  background-color: #d5d7d6;
}

.name {
  color: #2e2d2d;
  font-size: 1.3rem;
  margin: 0;
  margin: 1rem 0 0.5rem 0;
}

.email {
  color: #3e3d3d;
  margin: 0.5rem 0 0.5rem 0;
}
